<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Community Help</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/resident">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
