<div class="registration-page">

  <!-- FORM -->
  <div class="glass-card" *ngIf="!isRegistered">

    <h3 class="text-center mb-4">Helper Registration</h3>

    <form (ngSubmit)="registerHelper()" #helperForm="ngForm">

      <div class="mb-3">
        <label>Full Name</label>
        <input class="form-control" required
               [(ngModel)]="helper.fullName"
               name="fullName">
      </div>

      <div class="mb-3">
        <label>Contact</label>
        <input class="form-control" required
               [(ngModel)]="helper.contact"
               name="contact">
      </div>

      <div class="mb-3">
        <label>Username</label>
        <input class="form-control" required
               [(ngModel)]="helper.username"
               name="username">
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" required
               [(ngModel)]="helper.password"
               name="password">
      </div>

      <!-- HELP SELECTION -->
      <div class="mb-4">
        <label class="mb-2 d-block">Type of Help You Provide</label>

        <div class="help-pill-group">
          <div
            class="help-pill"
            *ngFor="let h of helpOptions"
            [class.active]="helper.helps.includes(h)"
            (click)="toggleHelp(h)">
            {{ h }}
          </div>
        </div>

        <!-- OTHER HELP INPUT -->
        <input
          *ngIf="helper.helps.includes('Others')"
          type="text"
          class="form-control mt-3"
          placeholder="Enter other type of help"
          [(ngModel)]="helper.otherHelp"
          name="otherHelp">
      </div>

      <!-- ROLE -->
      <div class="mb-4">
        <label>Role</label>
        <input class="form-control" value="Helper" disabled>
      </div>

      <button class="btn btn-success w-100"
              [disabled]="!helperForm.valid">
        Register
      </button>

    </form>
  </div>


    <!-- SUCCESS -->
    <div class="glass-card success-card" *ngIf="isRegistered">
    <div class="success-content">
        <h3>🎉 Successfully Registered</h3>
        <p>Your helper account has been created successfully.</p>

        <button
        class="btn btn-success mt-3"
        (click)="goToHome()">
        Go to Home
        </button>
    </div>
    </div>

</div>
