<div class="profile-page">

  <!-- SIDE MENU -->
  <aside class="side-menu">
    <h3 class="menu-title">MENU</h3>

    <button class="menu-item active">🏠 Dashboard</button>

    <!-- USER (Resident) -->
    <button
      *ngIf="user?.role?.toLowerCase() === 'resident'"
      class="menu-item"
      routerLink="/tracking"
      routerLinkActive="active">
      📝 Tasks
    </button>

    <button
      class="menu-item"
      routerLink="/calendar"
      routerLinkActive="active">
      📅 Calendar
    </button>


    <!-- HELPER -->
    <button
      *ngIf="user?.role?.toLowerCase() === 'helper'"
      class="menu-item"
      routerLink="/helper/requests"
      routerLinkActive="active">
      📊 Task Request
    </button>

    <button
      class="menu-item"
      routerLink="/chat"
      routerLinkActive="active">
      👥 Chat
    </button>


    <button class="menu-item back-btn" (click)="goBack()">⬅ Back</button>
  </aside>

  <!-- PROFILE CARD -->
  <div class="profile-card">

    <div class="header">
      <h2>Personal Information</h2>
      <button class="edit-btn" *ngIf="!editMode" (click)="toggleEdit()">Edit</button>
      <button class="cancel-btn" *ngIf="editMode" (click)="toggleEdit()">Cancel</button>
    </div>

    <div class="success-msg" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="form-grid">

      <div>
        <label>Full Name</label>
        <input [(ngModel)]="user.fullName" [disabled]="!editMode">
      </div>

      <div>
        <label>Username</label>
        <input [(ngModel)]="user.username" [disabled]="!editMode">
      </div>

      <div>
        <label>Contact</label>
        <input [(ngModel)]="user.contact" [disabled]="!editMode">
      </div>

      <div>
        <label>Role</label>
        <input [value]="user.role" disabled>
      </div>

      <div>
        <label>Location</label>
        <input [(ngModel)]="user.location" [disabled]="!editMode">
      </div>

      <div>
        <label>Gender</label>
        <input [value]="user.gender || '—'" disabled>
      </div>

      <div>
        <label>Qualification</label>
        <input [value]="user.qualification || '—'" disabled>
      </div>

      <div>
        <label>Type of Help</label>
        <input [value]="user.helpType || '—'" disabled>
      </div>

      <!-- HELPER ONLY -->
      <div *ngIf="user?.role?.toLowerCase() === 'helper'">
        <label>Price</label>
        <input [(ngModel)]="user.price" [disabled]="!editMode">
      </div>

      <!-- PASSWORD -->
      <div class="password-field">
        <label>Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="user.password"
          [disabled]="!editMode">
        <span class="eye" (click)="togglePassword()">👁</span>
      </div>

    </div>

    <button class="save-btn" *ngIf="editMode" (click)="save()">
      Save Changes
    </button>

  </div>
</div>
