<div class="auth-container">
  <div class="auth-card">

    <h2>{{ loginAsAdmin ? 'Admin Login' : 'Resident Login' }}</h2>

    <div class="error" *ngIf="error">{{ error }}</div>

    <!-- USERNAME -->
    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="formData.username">

    <!-- PASSWORD -->
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        [(ngModel)]="formData.password">

      <span
        class="field-icon"
        (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁' }}
      </span>
    </div>

    <!-- ROLE DISPLAY -->
    <input
      [value]="loginAsAdmin ? 'Admin' : 'Resident'"
      disabled>

    <button (click)="login()">Login</button>

    <!-- SWITCH -->
    <p class="switch">
      <span (click)="toggleLoginType()">
        {{ loginAsAdmin ? 'Login as Resident' : 'Login as Admin' }}
      </span>
    </p>

  </div>
</div>
