<div class="login-page">
  <div class="glass-card">

    <h3 class="text-center mb-3">Login</h3>

    <form (ngSubmit)="login()" #loginForm="ngForm">

      <input
        class="form-control mb-3"
        placeholder="Username"
        name="username"
        [(ngModel)]="loginData.username"
        required>

      <input
        type="password"
        class="form-control mb-3"
        placeholder="Password"
        name="password"
        [(ngModel)]="loginData.password"
        required>

      <select
        class="form-control mb-3"
        name="role"
        [(ngModel)]="loginData.role"
        required>
        <option value="">Select Role</option>
        <option value="Resident">Resident</option>
        <option value="Helper">Helper</option>
      </select>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="!loginForm.valid">
        Login
      </button>

      <p class="text-danger mt-2" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

    </form>

  </div>
</div>
