:root {
  --bg: #020617;
  --text: #e5e7eb;
}

.light-theme {
  --bg: #ffffff;
  --text: #111827;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
